.contactWrapper {
  width: 100%;
  padding: 0 20px;
}

.container {
  margin: 64px auto;
  max-width: 1024px;

    @media(max-width:768px){
        padding:0px 20px;
    }

    @media(max-width:480px){
         margin:32px auto;
     }

  .heading{
    color: $primary-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    margin: 36px auto;
    text-align: center;

    @media(max-width:480px){
        font-size: 24px;
    }
  }

  .content{
    @media(max-width:1024px){
      padding-left:20px;
    }

    @media(max-width:768px){
      padding-left:0px !important;
    }
    
    p{
        color: $text-secondary;
        font-size: 18px;
        font-weight: 400;
        padding:10px 0px;

        @media(max-width:480px){
            font-size: 16px;
        }

        .link{
            color:$primary-color;
            font-weight: 700;
            text-decoration: underline;

            @media(prefers-contrast: high){
              text-decoration: underline;
              text-decoration-thickness: 2px; 
              
              &:focus-visible {
                outline: 3px solid $blue-outline;
              }
            }
        }
    }
    
  }
}
