.wrapper {
  width:100%;
  padding: 0 20px;
}

.container{
    margin: 0 auto;
    max-width: 1024px;

    @media(max-width:768px){
      max-width: 492px;
      margin: 0 auto;   
    }
}

.subheading {
  font-size: 32px;
  font-weight: 700;
  color: $primary-color;
  text-align: center;
  padding-bottom:10px;
 margin-bottom:30px;
  border-bottom: 2px solid transparent;
  border-image:$gradient-color 1;

  @media(max-width:480px){
    font-size: 24px;
  }
}

.headingDescription{
    padding:0px 20px 30px 20px;
    text-align: center;
    font-size: 18px;
    color:$text-secondary;

    @media(max-width:480px){
      padding:0px 10px 30px 10px;
      font-size: 16px;
    }
}


.intro {
  display: grid;
  grid-template-columns:1fr 33% ;
  gap: 0;
  background: $color-white;
  border-radius: 12px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);

}

.imageWrapper {
    position: relative;
    min-height: 250px; 
}

  .imageDetail {
    object-fit: cover;
    border-radius:0 12px 12px 0;
  }

  .description {
    padding: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 18px;

      @media(max-width:480px){
        font-size:24px;
      }
    }

    p {
      font-size: 16px;
      color:$text-secondary;
    }
  }


@media (max-width: 768px) {
  .intro {
    grid-template-columns: 1fr;
    border-radius: 12px;

    .imageWrapper {
      height: 200px;
      order:1;
    }

    .imageDetail {
      border-radius:12px 12px 0px 0px;
    }

    .description {
      order:2;
      padding: 20px;
      text-align: center;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}


.secondIntro {
  display: grid;
  grid-template-columns: 33% 1fr;
  gap: 0;
  background: $color-white;
  border-radius: 12px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}

.secondImageWrapper {
    position: relative;
    min-height: 250px;  
}

.secondImageDetail {
    object-fit: cover;
    border-radius: 12px 0 0 12px;  
}

  


@media (max-width: 768px) {
  .secondIntro {
    grid-template-columns: 1fr;
    border-radius: 12px;

    .secondImageWrapper {
      height: 200px;
    }

    .secondImageDetail {
    border-radius: 12px 12px 0px 0px;  
    }
  }
}

