.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  color: #333;

  &:hover {
    background: rgba(230, 230, 230, 0.95);
  }
  svg {
    font-size: 15px;
}
}

.prevButton {
  left: 8px;
}

.nextButton {
  right: 8px;
}
