$gradient-color:linear-gradient(108deg,rgba(0,158,226,.9) -57.13%,#8b2fff 11.08%,rgba(245,5,79,.9) 102.57%);
$color-white:#fff;
$gradient-blue:linear-gradient(315deg,#60a5fa,#2563eb);
$gray-button:#f3f4f6;
$light-gray:#E6E6E6F2;
$gray-medium:#666666;
$dark-gray:#333;
$black-color:#000;
$text-secondary:#000000B3;
$primary-color:#1d4ed8;
$blue-outline:#0066cc;
$magenta-color: #be185d;


