.promo {
  padding: 0 20px;
  width:100%; 
}

.container{
  margin:120px auto 64px; 
  max-width: 1024px;
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: $gradient-color;
  border-radius: 10px;
  color: $color-white;

  @media (max-width: 973px) {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 64px auto; 
  }

  @media(max-width:480px){
    margin:32px auto;
  }
}

.leftSection {
  @media(max-width:973px){
    order:2;
  }
}

.imageWrapper {
  position: absolute;
  left: -5px;
  top: -268px; 
  width: 500px; 
  height: 800px;
  z-index: 10;

  @media(max-width:1080px){
    top:-273px;
  }

  @media (max-width: 1019px) {
    left: 0px;
    top: 25px; 
    height: 280px;
    
  }

  @media(max-width:973px){
    position: relative;
    top:auto;
    margin: 0 auto;
  }

   @media (max-width: 480px) {
    width: 280px;
    height: 300px;
    transform: translateY(50px);
 
  }
}

.phoneImage {
  object-fit: contain;
}

.content {
  padding: 30px 50px 25px 32px;

  @media(max-width:480px){
    padding:20px 20px 0px 20px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;

    @media (max-width: 1080px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  p {
    font-size: 18px;
    margin: 14px auto 32px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

   
  }
}

.installBtn {
  background: $color-white;
  color: #141414;
  font-size:20px;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 218px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;

  &:hover {
    // background: #f8f8f8;
     background: #eaeaea;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 973px) {
    max-width: 200px;
    margin: 0 auto;
  }
}


