.wrapper {
  width:100%;
  padding: 0 20px;
}

.container{
    margin: 64px auto;
    max-width: 1024px;

    @media(max-width:480px){
      margin:32px auto;
    }
}

.intro {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 0;
  background: $color-white;
  border-radius: 12px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;


  .imageWrapper {
    position: relative;
    min-height: 240px; 
  }

  .imageDetail {
    object-fit: cover;
    border-radius: 12px 0 0 12px;
  }

  .description {
    padding: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 18px;
    }

    p {
      font-size: 16px;
      color:$text-secondary;
    }
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 492px;
    margin: 0 auto 80px;
    grid-template-columns: 1fr;


    .imageWrapper {
      height: 200px;
    }

    .imageDetail {
      border-radius: 12px 12px 0 0;
    }

    .description {
      padding: 20px;
      text-align: center;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}



.subheading {
  font-size: 32px;
  font-weight: 700;
  color: $primary-color;
  text-align: center;
  padding-bottom:20px;
  border-bottom: 2px solid transparent;
  border-image:$gradient-color 1;

  @media(max-width:480px){
    font-size: 24px;
  }
}

.subtext {
  text-align: center;
  font-size: 18px;
  margin:20px;

  @media(max-width:480px){
    font-size: 16px;
  }
}


.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);

   @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: $color-white;
  border-radius: 8px;
  box-shadow: 0 8px 12px -2px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
 
  position: relative;

   .imageWrapper {
        position: relative;
        width: 100%;
        height: 200px; 
    }

    .gridImage {
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .imgDescription{
        padding:14px 18px 20px;

        h4 {
            text-align: center;
            color: $magenta-color;
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 16px;
            border-bottom: 2px solid #e5e7eb;

            @media(max-width:480px){
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
            margin-top: 16px;

            @media(max-width:480px){
                font-size: 16px;
            }
        }
    }
}

