.story {
  background: linear-gradient(to top left, #fd1d1d, #fcb045);
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  color: white;

  img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
  }
}
