.wrapper {
  background: $gradient-color;
  padding: 30px 20px 44px;
  text-align: center;
  color: $color-white;
}

.category {
  background: hsla(0, 0%, 100%, 0.24);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto 30px;
  max-width: max-content;

  .category_element {
    position: relative;

    &:after {
      background: hsla(0, 0%, 100%, 0.2);
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
    }

    &:last-child::after {
      content: none;
    }
  }

  a {
    align-items: center;
    color: $color-white;
    display: flex;
    font-size: 16px;
    gap: 6px;
    justify-content: center;
    padding: 6px 10px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 10px auto;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 40px;
}

.search_form {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  max-width: 672px;
  padding: 8px;
  background: $color-white;

  .search_form__field {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr max-content;
  }

  .search_form__label {
    display: flex;
    align-items: center;
  }

  .search_form__input {
    border: none;
    font-size: 18px;
    padding: 0 14px;
    width: 100%;
  }

  .search_form__clipboard {
    display: flex;

    button {
      align-items: center;
      background: $gray-button;
      border: 2px solid #e5e7eb;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      gap: 4px;
      line-height: 24px;
      padding: 18px 12px;
    }
  }

  .search_form__button {
    background: $gradient-blue;
    border: none;
    border-radius: 8px;
    color: $color-white;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .category {
    min-width: 100%;

    span {
      font-size: 0;
    }
  }

  .search_form {
    background: none;
    box-shadow: none;
    gap: 12px;
    grid-template-columns: 1fr;
    padding: 0;

    .search_form__field {
      background: $color-white;
      border-radius: 8px;
    }

    .search_form__input {
      border-radius: 8px 0 0 8px;
    }

    .search_form__clipboard button {
      border-radius: 0 8px 8px 0;
    }
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }
}

/* style.module.scss */

.loaderContainer {
  text-align: center;
  padding: 2rem 0;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #eee;
  border-top: 4px solid #8b5cf6;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loaderMessage {
  margin-top: 1rem;
  color: #555;
}
.active {
  background: rgba(255, 255, 255, 0.2);

  a {
    font-weight: bold;
  }
}
